*.7z
*.a
*.aps
*.bmp
*.bsc
*.blk
*.clw
*.dep
*.dll
*.elf
*.exe
*.exp
*.htm
*.idb
*.ilk
*.lib
*.lnk
*.user
*.ncb
*.o
*.obj
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.suo
*.tmp
*.ttf
*.user
*.vpj
*.vtg
*.zip
*.sdf
*.opensdf
*.xcuserstate
*.DS_Store
*.project
*.cproject
*.filters
*.lastbuildstate
*.tlog
.vs
build
Backup
ColossalCaveAdventure
CVS
Debug
ForthOSX/Forth.xcodeproj/project.xcworkspace/xcuserdata/
ForthOSX/Forth.xcodeproj/project.xcworkspace/xcuserdata/patmcelhatton.xcuserdatad/UserInterfaceState.xcuserstate
ForthOSX/Forth.xcodeproj/xcuserdata/patmcelhatton.xcuserdatad/xcdebugger/
ForthOSX/ForthLogger.xcodeproj/project.xcworkspace/xcuserdata/
ForthOSX/ForthLogger.xcodeproj/project.xcworkspace/xcuserdata/patmcelhatton.xcuserdatad/UserInterfaceState.xcuserstate
ForthOSX/ForthLogger.xcodeproj/xcuserdata/patmcelhatton.xcuserdatad/xcdebugger/
ForthOSX/Forth.xcodeproj/xcuserdata/pmcelhatton.xcuserdatad/
ForthOSX/ForthLogger.xcodeproj/xcuserdata/pmcelhatton.xcuserdatad/
ForthCalc
ForthGenericDialogApp
ForthGuiApp
ForthLib/ForthNDRelease
ForthLib/MakefileProject
ForthLib/NewFolder
ForthLib/dep
ForthLib/obj
ForthLib/x64
ForthLinux/forth
ForthLinux/logger
ForthLinux/dep
ForthLinux/obj
Forth*/Win32
Forth*/x64
ForthRelease
ForthND
ipch
Junk
booga
rel
releases
relOld
relSource
Sandbox
sandbox
sandbox.old
TestDLL
TextToSpeech
Unused
*/Debug
*/Release
*/Debug Client
*/Debug GUI
*/Debug Midi
.vs/Forth/v15/Browse.VC.db
.vs/Forth/v15/Browse.VC.opendb
.vs/Forth/v15/Solution.VC.db
.vs/Forth/v15/Solution.VC.db-shm
.vs/Forth/v15/Solution.VC.db-wal
arm2016.log
branchdiff.txt
backup.bat
Forth_for_ARM.txt
ForthARM/gdbs.txt
ForthARM/sdlt.txt
ForthARM/t.txt
ForthARM/obj
ForthARM/forth
ForthARM/logfile.txt
ForthClient/ForthClient.vcxproj.filters
ForthDocs/ForthDocs.vcxproj.filters
ForthDocs/Manual/*.txt
*.nas
ForthLogger/ReadMe.txt
ForthMidi/Resource.h
ForthMidi/stdafx.cpp
ForthMidi/stdafx.h
ForthServer/ForthServer.vcxproj
make_release.bat
make_release.ps1
Makefile.new
master.log
Scripts/tests/goodOutput/*.txt
*.ipdb
*.iobj
ForthLib/x64/Debug Asm/ForthLib.log
Win32
x64
*.log
ForthDLL/ReadMe.txt
ForthDLL/res/ForthDLL.rc2
ForthDLLxxx
ForthDLLMainxxx
