*.7z
*.aps
*.bmp
*.bsc
*.clw
*.dep
*.dll
*.elf
*.exe
*.exp
*.htm
*.idb
*.ilk
*.lib
*.lnk
*.user
*.ncb
*.o
*.obj
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.suo
*.tmp
*.ttf
*.user
*.vpj
*.vtg
*.zip
build
CVS
Debug
ForthCalc
ForthDLL
ForthGenericDialogApp
ForthGuiApp
ForthLib/ForthNDRelease
ForthLib/MakefileProject
ForthLib/NewFolder
ForthND
Junk
rel
Sandbox
TestDLL
Unused
*/Debug
*/Release
*/Debug Client
*/Debug GUI
*/Debug Midi
